---
title: Team
---

<div class="padded text-center">
  <h2 class="section-header">Our Team</h2>
  <br>
  <ul class="list-inline">
    <li>
      <img src="images/anne.jpg" class="img-circle" alt="" width= 150px>
      <h3>Anne</h3>
    </li>
    <li>
      <img src="images/seb.jpg" class="img-circle" alt="" width= 150px>
      <h3>Seb</h3>
    </li>
    <li>
      <img src="images/romain.jpeg" class="img-circle" alt="" width= 150px>
      <h3>Romain</h3>
    </li>
  </ul>
</div>

<div class="padded-bottom text-center">
  <h3 class="section-header">Contact us</h3>
  <h3><i class="fa fa-phone"></i> +33 6 42 42 42 42</h3>
  <h3><i class="fa fa-envelope"></i> <a href="mailto:contact@styl.us">contact@styl.us</a></h3>
</div>

